<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="client">
	<select id="clientList" parameterType="hashMap" resultType="hashMap">
	SELECT
	A.CLINO, A.CLINAME, A.CALLNAME
	,CONCAT(CLIADDR1,' ',CLIADDR2,' ',CLIADDR3) AS CLIADDR_
	, CASE WHEN CHAR_LENGTH( CONCAT(IFNULL(A.TELNO1,''),IFNULL(A.TELNO2,''),IFNULL(A.TELNO3,'')) ) > 8
		THEN CONCAT( IFNULL(A.TELNO1,''),'-',IFNULL(A.TELNO2,''),'-',IFNULL(A.TELNO3,'') )
		ELSE CONCAT( IFNULL(A.TELNO1,''),IFNULL(A.TELNO2,''),IFNULL(A.TELNO3,'') )  END AS TELNO_
	,BSTYPE,MEMO
	,IMPORTANCE, FRIENDLY
	,A.OWNER, B.USERNAME
	FROM sa200010 A
	LEFT OUTER JOIN me800010 B ON A.OWNER = B.USERNO
	WHERE
		A.ISDELETE = 0
		AND A.SITEID = #{siteid}
	 	<if test="cliname != null">
		AND A.CLINAME like CONCAT('%',#{cliname},'%')
		</if>
	</select>

</mapper>