<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">

    <insert id="upload" parameterType="uploadDto">
        INSERT INTO sys990030
			( TABLENAME, FILESEARCHKEY, SAVEFILENAME, ORGFILENAME, FILESIZE, PATH, REGUSER, REGDATE, SITEID, IMGPATH, ISDELETE )
			VALUES
			( #{tablename}, #{filesearchkey}, #{savefilename}, #{orgfilename}, #{filesize}, #{path}, #{userno}, now(), #{siteid}, #{imgpath}, 0)
    </insert>

    <select id="info" parameterType="hashMap" resultType="hashMap">
        SELECT FILEID, SAVEFILENAME, FILESIZE, ORGFILENAME, DATE_FORMAT( REGDATE,'%Y-%m-%d') AS REGDATE
		FROM sys990030
		WHERE FILESEARCHKEY = #{FILESEARCHKEY}
    </select>

    <select id="download" parameterType="int" resultType="uploadDto">
      SELECT SAVEFILENAME, PATH, ORGFILENAME, FILESIZE, FILEID FROM sys990030 WHERE FILEID = #{fileid}
    </select>
</mapper>