<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="license">

    <select id="siteLicenseList" parameterType="String" resultType="map">
        SELECT A.LICENSENO,A.BUYCNT,A.SITEID,A.ISDELETE,FN_GETCODE('ISDELETE',A.ISDELETE,1) AS ISDELETE_
         ,DATE_FORMAT(A.REGDATE,'%Y-%m-%d') AS REGDATE
         ,DATE_FORMAT(A.EDTDATE,'%Y-%m-%d') AS EDTDATE
         ,(SELECT SUM(BUYCNT) FROM ME810010 WHERE SITEID = #{siteid} AND ISDELETE = 0) AS TOTALCNT
         ,X.USECNT
         FROM ME810010 A,(SELECT SITEID, COUNT(LICENSENO) AS USECNT, LICENSENO
															FROM ME810020
															WHERE SITEID = #{siteid}
															AND ISDELETE = 0
															GROUP BY SITEID, LICENSENO) X
	WHERE X.LICENSENO = A.LICENSENO
    AND A.SITEID = #{siteid}
    </select>

    <select id="allList" resultType="licenseDto">
        SELECT * FROM ma900020
    </select>

    <insert id="siteInsert" parameterType="useLicenseDto">
        INSERT INTO ME810010	(SITEID,LICENSENO,BUYCNT,REGDATE,REGUSER,EDTDATE,EDTUSER,ISDELETE)
							VALUES(#{siteid},#{licenseno},#{licensecnt},NOW(),#{reguser},NOW(),#{edtuser},#{isdelete})
			ON DUPLICATE KEY UPDATE BUYCNT = #{licensecnt},EDTDATE = NOW(),EDTUSER = #{edtuser},ISDELETE = #{isdelete}
    </insert>
    <select id="userLicenseList" parameterType="custDto" resultType="map">
      SELECT A.LICENSENO,(SELECT LICENSENAME FROM MA900020 WHERE LICENSENO = A.LICENSENO) AS LICENSENAME FROM ME810020 A WHERE A.SITEID = #{siteid} and A.USERNO = #{userno} AND A.ISDELETE = 0
    </select>

    <select id="useSiteLicenseList" parameterType="int" resultType="map">
        SELECT LICENSENO,LICENSENAME,BUYCNT,USECNT,TOTAL
FROM (SELECT A.LICENSENO, A.LICENSENAME, B.BUYCNT, IFNULL(C.CNT, 0) AS USECNT, CASE WHEN IFNULL(C.CNT,0) >= B.BUYCNT THEN 0 ELSE 1 END AS TOTAL
			FROM ma900020 A
						 LEFT OUTER JOIN ME810010 B ON B.LICENSENO = A.LICENSENO
						 LEFT OUTER JOIN (SELECT SITEID, COUNT(LICENSENO) AS CNT, LICENSENO
															FROM ME810020
															WHERE SITEID = #{siteid}
															AND ISDELETE = 0
															GROUP BY SITEID, LICENSENO) C ON C.LICENSENO = A.LICENSENO
			where B.siteid = #{siteid}) X
	WHERE X.TOTAL != 0;
    </select>

    <update id="menuReset" parameterType="map">
      UPDATE ME810020
      SET ISDELETE = 1
      WHERE SITEID = #{siteid}
      AND USERNO = #{userno}
    </update>

    <insert id="menuInsert" parameterType="map">
        INSERT INTO me810020   (SITEID,USERNO,LICENSENO,REGDATE,REGUSER,EDTDATE,EDTUSER,ISDELETE)
							VALUES(#{siteid},#{userno},#{licenseno},NOW(),#{sessionuserno},NOW(),#{sessionuserno},0)
         ON DUPLICATE KEY UPDATE ISDELETE = 0 ;
    </insert>


</mapper>