<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code">

	<!--코드명을 리턴. 사용메뉴 : 공통+해당모듈 -->
	<select id="getCodeGrpList" parameterType="com.crud.ideacrm.dto.CodeDto" resultType="String">
		SELECT DISTINCT CODEGRP
		FROM SYS990020
	    WHERE USINGMENU in (0, #{usingmenu})
	    AND COMMONFLAG = #{commonflag}
	</select>

	<select id="getCodeList" parameterType="com.crud.ideacrm.dto.CodeDto" resultType="com.crud.ideacrm.dto.CodeDto">
		SELECT CODEGRP, CODENAME, CODEVAL
		FROM sys990020
		WHERE
			CODEGRP = #{codegrp}
		<if test='commonflag == 1'>
			AND SITEID = #{siteid}
		</if>
	</select>

	<select id="getCodeNo" parameterType="codeDto" resultType="String">
    	SELECT CODENO FROM SYS990020
    	WHERE SITEID = #{siteid}
    	AND CODEGRP = #{codegrp}
    	AND CODEVAL = #{codeval}

    </select>

	<select id="getUpperCodeGrp" parameterType="codeDto" resultType="codeDto">
    	SELECT * FROM sys990020
    	WHERE SITEID = #{siteid}
    	AND UPPERCODEGRP = #{uppercodegrp}
    </select>

	<select id="codeList" parameterType="map" resultType="map">
		SELECT A.CODENO AS NO,A.CODEGRP,A.CODENAME,A.CODEVAL
		,DATE_FORMAT(A.REGDATE,'%Y-%m-%d') AS REGDATE
		,FN_GETCODE('ISDELETE',A.ISDELETE,1) AS ISDELETE_
		,A.ISDELETE
		,IFNULL(B.CODENAME,'') AS UPPERCODENAME ,A.UPPERCODEGRP
		,(SELECT LICENSENAME FROM MA900020 WHERE LICENSENO = A.USINGMENU) AS USINGMENU
		FROM sys990020 A
		LEFT OUTER JOIN sys990020 B ON B.CODENO = A.UPPERCODEGRP
		WHERE A.ISDELETE = 0
		<if test="siteid != null">
			AND A.SITEID = #{siteid}
		</if>
		<if test ="codename != null">
			AND A.CODENAME LIKE CONCAT('%',#{codename},'%')
		</if>
		<if test ="codegrp != null">
			AND A.CODEGRP LIKE CONCAT('%',#{codegrp},'%')
		</if>
		<if test ="codeval != null">
			AND A.CODEVAL LIKE CONCAT('%',#{codeval},'%')
		</if>
		<if test ="usingmenu != null">
			AND A.USINGMENU = #{usingmenu}
		</if>
	</select>

	<select id="codeDetail" parameterType="codeDto" resultType="map">
		 SELECT
    		A.CODENO,A.CODEGRP,A.CODENAME,A.CODEVAL
    		,DATE_FORMAT(A.REGDATE,'%Y-%m-%d') AS REGDATE
    		,FN_GETCODE('ISDELETE',A.ISDELETE,1) AS ISDELETE_
    	  	,A.ISDELETE
   			,A.UPPERCODEGRP
   			,B.CODENAME AS UPPERCODEGRP_
   			,B.CODEVAL AS UPPERCODEGRP
   			,(SELECT LICENSENAME FROM MA900020 WHERE LICENSENO = A.USINGMENU) AS USINGMENU
    	FROM sys990020 A
    	LEFT OUTER JOIN sys990020 B ON B.CODENO = A.UPPERCODEGRP
    	WHERE A.SITEID = #{siteid}
    	AND A.CODENO = #{codeno}
	</select>

	<update id="codeUpdate" parameterType="codeDto">
		UPDATE sys990020
		SET
			CODEGRP = #{codegrp}
			,CODENAME = #{codename}
			,CODEVAL = #{codeval}
			,UPPERCODEGRP = #{uppercodegrp}
			,USINGMENU = #{usingmenu}
			,EDTDATE = now()
			,EDTUSER = #{edtuser}
		WHERE SITEID = #{siteid}
		AND CODENO = #{codeno}
    </update>
	<insert id="codeInsert" parameterType="codeDto">
		<selectKey keyProperty="codeno"  resultType="String" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			INSERT INTO sys990020
			(
			CODEGRP,CODENAME,CODEVAL,UPPERCODEGRP
			,SITEID,ISDELETE,REGDATE,REGUSER,USINGMENU,COMMONFLAG
			,EDTDATE,EDTUSER
			)VALUES(
			#{codegrp},#{codename},#{codeval},#{uppercodegrp}
			,#{siteid},1,now(),#{reguser},#{usingmenu},1
			,now(),#{edtuser}
			)
	</insert>

	<update id="codeDelete" parameterType="codeDto">
		UPDATE sys990020
		SET ISDELETE = 1
		,EDTDATE = now()
		,EDTUSER = #{edtuser}
		WHERE SITEID = #{siteid}
		AND CODENO = #{codeno}
    </update>
</mapper>