<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common">

	<insert id="noteFile" parameterType="hashMap">
			INSERT INTO sys990030
			( TABLENAME, FILESEARCHKEY, SAVEFILENAME, ORGFILENAME, FILESIZE, PATH, REGUSER, REGDATE, SITEID, IMGPATH, ISDELETE )
			VALUES
			( #{tablename}, #{filesearchkey}, #{savefilename}, #{orgfilename}, #{filesize}, #{path}, #{userno}, now(), #{siteid}, #{imgpath}, 0)			
	</insert>
	
	<!-- 담당자로 설정 할 수 있는 회원 수 출력 -->
	<select id="totalcntUser" parameterType="hashMap" resultType="int">
		SELECT COUNT(*)
		FROM me800010
		WHERE 
			SITEID = #{siteid}
			AND ISDELETE = 0
			<if test="username != null">
			AND USERNAME like CONCAT('%',#{username},'%')
			</if>
			<if test="chkauth != null">
			AND CHKAUTH = #{chkauth}
			</if>
	</select>
	<!-- 담당자로 설정 할 수 있는 회원 목록 출력  -->
	<select id="popUserList" parameterType="hashMap" resultType="hashMap">
		SELECT * 
		FROM  
			(
			SELECT 
			
			@RNUM:=@RNUM + 1 AS ROWNUM
			,USERNO, USERNAME, USERID, USERDUTY,CHKAUTH
			FROM me800010 ,(SELECT @RNUM := 0) R
			WHERE 
				SITEID= #{siteid}
				AND ISDELETE = 0
				<if test="username != null">
					AND USERNAME like CONCAT('%',#{username},'%')
				</if>
				<if test="chkauth != null">
					AND CHKAUTH = #{chkauth}
				</if>
			ORDER BY USERNAME
			) T
		WHERE 
			ROWNUM BETWEEN #{startRowNum} and #{endRowNum}
		
	</select>
	
	<!-- 회원사의 거래처 수 카운터  -->
	<select id="totalcntClient" parameterType="hashMap" resultType="int">
		SELECT COUNT(*)
		FROM sa200010
		WHERE 
			SITEID = #{siteid}
			AND ISDELETE = 0
			<if test="cliname != null">
				AND CLINAME like CONCAT('%',#{cliname},'%')
			</if>
	</select>
	<!-- 선택할 수 있는 거래처 목록 출력  -->
	<select id="popClientList" parameterType="hashMap" resultType="hashMap">
	SELECT * 
	FROM  
		(
		SELECT 		
		@RNUM:=@RNUM + 1 AS ROWNUM
		,A.CLINO, A.CLINAME, A.CALLNAME, A.OWNER
		,B.USERNAME 
		FROM sa200010 A 
		LEFT OUTER JOIN me800010 B ON A.OWNER = B.USERNO
		,(SELECT @RNUM := 0) R
		WHERE 
			A.SITEID= #{siteid}
			AND A.ISDELETE = 0
			<if test="cliname != null">
				AND CLINAME like CONCAT('%',#{cliname},'%')
			</if>
		ORDER BY A.CLINAME
		) T
	WHERE 
		ROWNUM BETWEEN #{startRowNum} and #{endRowNum}		
	</select>
	
		<!-- 회원사의 고객 수 카운터  -->
	<select id="totalCntCust" parameterType="hashMap" resultType="int">
		SELECT COUNT(*)
		FROM CU100010 
		WHERE 
			SITEID = #{siteid}
			AND ISDELETE = 0
			<if test="custname != null">
				AND CUSTNAME like CONCAT('%',#{custname},'%')
			</if>
			<choose>
				<when test='condition != null and keyword != null and condition.equals("phone")'>
					AND ( 
					CONCAT(MOBILE1,MOBILE2,MOBILE3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%') 
					OR CONCAT(HOMTEL1,HOMTEL2,HOMTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')
					OR CONCAT(WRKTEL1,WRKTEL2,WRKTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')  
					)	
				</when>
				<when test='condition != null and keyword != null and condition.equals("mobile")'>
					AND CONCAT(MOBILE1,MOBILE2,MOBILE3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%') 
				</when>
				<when test='condition != null and keyword != null and condition.equals("homtel")'>
					AND CONCAT(HOMTEL1,HOMTEL2,HOMTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')
				</when>
				<when test='condition != null and keyword != null and condition.equals("wrktel")'>
					AND CONCAT(WRKTEL1,WRKTEL2,WRKTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')
				</when>
				<when test='condition != null and keyword != null and condition.equals("custname")'>
					AND CUSTNAME like CONCAT('%',#{keyword},'%') 
				</when>
			</choose>		
	</select>
	
	<!-- 선택할 수 있는 거래처 목록 출력  -->
	<select id="popCustList" parameterType="hashMap" resultType="hashMap">
	SELECT * 
	FROM  
		(
		SELECT 
		@RNUM:=@RNUM + 1 AS ROWNUM
		,A.CUSTNO,A.CUSTNAME,A.CLINO,B.CLINAME
		,CASE WHEN  
			REPLACE(CONCAT(A.MOBILE1,A.MOBILE2,A.MOBILE3),' ','') = ''  THEN ''
		ELSE 
			CONCAT(A.MOBILE1,'-',A.MOBILE2,'-',A.MOBILE3) 
		END AS MOBILE
		,CASE WHEN  
			REPLACE(CONCAT(A.HOMTEL1,A.HOMTEL2,A.HOMTEL3),' ','') = ''  THEN ''
		ELSE 
			CONCAT(A.HOMTEL1,'-',A.HOMTEL2,'-',A.HOMTEL3) 
		END AS HOMTEL
		,CASE WHEN  
			REPLACE(CONCAT(A.WRKTEL1,A.WRKTEL2,A.WRKTEL3),' ','') = ''  THEN ''
		ELSE 
			CONCAT(A.WRKTEL1,'-',A.WRKTEL2,'-',A.WRKTEL3) 
		END AS WRKTEL
		,A.EMAIL
		,CONCAT(A.HOMADDR1 ,' ' , A.HOMADDR2 ,' ' , A.HOMADDR3) AS HOMADDR_
		
		FROM CU100010 A 
		LEFT OUTER JOIN sa200010 B ON A.CLINO = B.CLINO
		,(SELECT @RNUM := 0) R

		WHERE 
			A.SITEID= #{siteid}
			AND A.ISDELETE = 0
			<if test="custname != null">
				AND A.CUSTNAME like CONCAT('%',#{custname},'%')
			</if>
			<choose>
				<when test='condition != null and keyword != null and condition.equals("phone")'>
					AND ( 
					CONCAT(A.MOBILE1,A.MOBILE2,A.MOBILE3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%') 
					OR CONCAT(A.HOMTEL1,A.HOMTEL2,A.HOMTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')
					OR CONCAT(A.WRKTEL1,A.WRKTEL2,A.WRKTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')  
					)	
				</when>
				<when test='condition != null and keyword != null and condition.equals("mobile")'>
					AND CONCAT(A.MOBILE1,A.MOBILE2,A.MOBILE3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%') 
				</when>
				<when test='condition != null and keyword != null and condition.equals("homtel")'>
					AND CONCAT(A.HOMTEL1,A.HOMTEL2,A.HOMTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')
				</when>
				<when test='condition != null and keyword != null and condition.equals("wrktel")'>
					AND CONCAT(A.WRKTEL1,A.WRKTEL2,A.WRKTEL3) like CONCAT('%', REPLACE(#{keyword},'-','') ,'%')
				</when>
				<when test='condition != null and keyword != null and condition.equals("custname")'>
					AND A.CUSTNAME like CONCAT('%',#{keyword},'%') 
				</when>
			</choose>			
		ORDER BY A.CUSTNO
		) T
	WHERE 
		ROWNUM BETWEEN #{startRowNum} and #{endRowNum}		
	</select>
	
	<!-- 내부통지 파일다운로드 -->
	<select id="noteDownload" parameterType="fileDto" resultType="fileDto">
		SELECT SAVEFILENAME, PATH, ORGFILENAME, FILESIZE, FILEID FROM sys990030 WHERE SITEID = #{siteid} AND FILEID = #{fileid}
	</select>
	
	<!-- 회원사의 영업 수 카운터  -->
	<select id="totalcntSales" parameterType="hashMap" resultType="int">
		SELECT COUNT(*)
		FROM sa210010
		WHERE 
			SITEID = #{siteid}
			AND ISDELETE = 0
			<if test="salename != null">
				AND SALENAME like CONCAT('%',#{salename},'%')
			</if>
	</select>
	<!-- 선택할 수 있는 영업 목록 출력  -->
	<select id="popSalesList" parameterType="hashMap" resultType="hashMap">
	SELECT * 
	FROM  
		(
		SELECT 		
		@RNUM:=@RNUM + 1 AS ROWNUM
		,A.SALESNO, A.SALENAME, A.CLINO, A.OWNER
		,B.USERNAME
		,C.CLINAME 
		FROM sa210010 A 
		LEFT OUTER JOIN me800010 B ON A.OWNER = B.USERNO
		LEFT OUTER JOIN sa200010 C ON A.CLINO = C.CLINO
		,(SELECT @RNUM := 0) R
		WHERE 
			A.SITEID= #{siteid}
			AND A.ISDELETE = 0
			<if test="salename != null">
				AND SALENAME like CONCAT('%',#{salename},'%')
			</if>
		ORDER BY A.SALENAME
		) T
	WHERE 
		ROWNUM BETWEEN #{startRowNum} and #{endRowNum}		
	</select>

	<insert id="directSmsSend" parameterType="hashMap">
		INSERT INTO SC_TRAN (TR_SENDDATE, TR_SENDSTAT, TR_MSGTYPE, TR_PHONE, TR_CALLBACK, TR_MSG)
		VALUES(current_timestamp(),'0','0',#{mobile},#{callback},#{senddesc})
	</insert>
	
	<insert id="delaySmsSend" parameterType="hashMap">
		INSERT INTO SC_TRAN (TR_SENDDATE, TR_SENDSTAT, TR_MSGTYPE, TR_PHONE, TR_CALLBACK, TR_MSG)
		VALUES(concat(#{senddate},' ',#{sendtime}),'0','0',#{mobile},#{callback},#{senddesc})
	</insert>
	
	<insert id="directLmsSend" parameterType="hashMap">
		INSERT INTO MMS_MSG (SUBJECT, PHONE, CALLBACK, STATUS, REQDATE, MSG, TYPE)
		VALUES(#{title},'01076737157','023367800','0',current_timestamp(), #{senddesc},0)
	</insert>
	
	<insert id="delayLmsSend" parameterType="hashMap">
		INSERT INTO MMS_MSG (SUBJECT, PHONE, CALLBACK, STATUS, REQDATE, MSG, TYPE)
		VALUES(#{title},'01076737157','023367800','0',DATE_FORMAT(CONCAT(DATE_FORMAT(#{senddate},'%Y-%m-%d'),' ',#{sendtime},':00'),'%Y-%m-%d %H:%m:%s'), #{senddesc},0)
	</insert>
	
	<insert id="mailSend" parameterType="hashMap">
		INSERT INTO SYS980010(
		SITEID
		,CSTNAME
		,USERNAME
		,FROMEMAIL
		,TOEMAIL
		,SUBJECT
		,CONTENT
		,RLTDATE
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		)VALUES(
		#{siteid}
		,(SELECT CUSTNAME FROM CU100010 WHERE SITEID = #{siteid} AND CUSTNO = #{custno})
		,(SELECT USERNAME FROM ME800010 WHERE SITEID = #{siteid} AND USERNO = #{userno})
		,'crudsystem@crudsystem.co.kr'
		,#{tocust}
		,#{title}
		,#{content}
		,current_timestamp()
		,current_timestamp()
		,#{userno}
		,current_timestamp()
		,#{userno}
		);
	</insert>
	
</mapper>