<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">

    <select id="list" parameterType="hashMap" resultType="hashMap">
     	SELECT * FROM (
     	SELECT 
     	A.SITENAME,A.SITEID,A.PRSDNAME
     	,REPLACE(CONCAT(A.BSNO1,'-',A.BSNO2,'-',A.BSNO3),'--','') AS BSNO
     	,REPLACE(CONCAT(A.MOBILE1,'-',A.MOBILE2,'-',A.MOBILE3),'--','') AS MOBILE
     	,A.BSTYPE
     	,IF(DATE_FORMAT(A.FREGDATE,'%Y-%m-%d')='1900-01-01','',DATE_FORMAT(A.FREGDATE,'%Y-%m-%d')) AS FREGDATE 
     	,CASE WHEN A.SITESIZE = '1' THEN '대기업'
     		  WHEN A.SITESIZE = '2' THEN '중견기업'
     		  WHEN A.SITESIZE = '3' THEN '중소기업'
     		  WHEN A.SITESIZE = '4' THEN '소기업' END AS SITESIZE
     	,CASE WHEN A.ISDELETE = '0' THEN '사용'
     		  WHEN A.ISDELETE = '1' THEN '미사용' END AS ISDELETE
     	,@RNUM:=@RNUM + 1 AS ROWNUM
     	,(SELECT SUM(BUYCNT) AS BUYCNT FROM me810010 WHERE SITEID = A.SITEID) AS BUYCNT
     	FROM ma900010 A,(SELECT @RNUM := 0) R
     	WHERE A.ISDELETE = 0
     	<if test ="strDate != null">
     		AND IFNULL(A.FREGDATE,'1900-01-01')<![CDATA[>=]]> #{strDate}
     	</if>
     	<if test ="endDate != null">
     		AND IFNULL(A.FREGDATE,'1900-01-01') <![CDATA[<=]]> #{endDate}
     	</if>
     	<if test ="sitename != null">
     		AND A.SITENAME LIKE CONCAT('%',#{sitename},'%')
     	</if>
     	<if test ="sitesize != null">
     		AND A.SITESIZE = #{sitesize}
     	</if>
     	ORDER BY A.SITEID DESC
     	) X 
     	<if test ="endRowNum != null">
     		WHERE X.ROWNUM Between #{startRowNum} and #{endRowNum}
     	</if>
     	
    </select>
    <!-- 리스트 총갯수  -->
    <select id="totalRow" parameterType="hashMap" resultType="int">
     	SELECT 
     	count(*)
     	FROM ma900010
     	WHERE ISDELETE = 0
     	<if test ="strDate != null">
     		AND IFNULL(FREGDATE,'1900-01-01')<![CDATA[ >= ]]> #{strDate}
     	</if>
     	<if test ="endDate != null">
     		AND IFNULL(FREGDATE,'1900-01-01') <![CDATA[ <= ]]> #{endDate}
     	</if>
     	<if test ="sitename != null">
     		AND SITENAME LIKE CONCAT('%',#{sitename},'%')
     	</if>
     	<if test ="sitesize != null">
     		AND SITESIZE = #{sitesize}
     	</if>
     	
    </select>
    
    <select id="detail" parameterType="companyDto" resultType="hashMap">
     	SELECT 
     	A.SITEID,A.SITENAME
     	,A.BSNO1,A.BSNO2,A.BSNO3
     	,REPLACE(CONCAT(A.BSNO1,'-',A.BSNO2,'-',A.BSNO3),'--','') AS BSNO
     	,CONCAT(A.INCNO1,'-',A.INCNO2) AS INCNO
     	,A.INCNO1,A.INCNO2
     	,A.ADDR1,A.ADDR2,A.ADDR3
     	,A.PRSDNAME
     	,A.MOBILE1,A.MOBILE2,A.MOBILE3
     	,REPLACE(CONCAT(A.MOBILE1,'-',A.MOBILE2,'-',A.MOBILE3),'--','') AS MOBILE
     	,A.FAXTEL1,A.FAXTEL2,A.FAXTEL3
     	,REPLACE(CONCAT(A.FAXTEL1,'-',A.FAXTEL2,'-',A.FAXTEL3),'--','') AS FAXTEL
     	,A.TELNO1,A.TELNO2,A.TELNO3
     	,REPLACE(CONCAT(A.TELNO1,'-',A.TELNO2,'-',A.TELNO3),'--','') AS TELNO
     	,A.EMAIL
     	,CASE WHEN A.SITESIZE = '1' THEN '대기업'
     		  WHEN A.SITESIZE = '2' THEN '중견기업'
     		  WHEN A.SITESIZE = '3' THEN '중소기업'
     		  WHEN A.SITESIZE = '4' THEN '소기업' END AS SITESIZE_
     	,SITESIZE
     	,(SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) AS OWNER_
     	,A.OWNER 
     	,A.COTYPE,A.BSCOND,A.BSTYPE
     	,IF(DATE_FORMAT(A.FREGDATE,'%Y-%m-%d')='1900-01-01','',DATE_FORMAT(A.FREGDATE,'%Y-%m-%d')) AS FREGDATE_ 
     	,A.SITELOGO
     	,CASE WHEN A.ISDELETE = '0' THEN '사용'
     		  WHEN A.ISDELETE = '1' THEN '미사용' END AS ISDELETE_
     	,A.ISDELETE
     	,A.SITEMEMO
     	,(SELECT COUNT(*) FROM me810010 WHERE SITEID = A.SITEID) AS TOTALCNT
     	,(SELECT USERID FROM me800010 WHERE SITEID = #{siteid} AND MASTERYN = 1) AS ADMINID
     	FROM ma900010 A
     	WHERE A.SITEID = #{siteid}
    </select>
    
    <update id="update" parameterType="companyDto">
    
    UPDATE ma900010
    SET 
    SITENAME = #{sitename}
    ,BSNO1 = #{bsno1}
    ,BSNO2 = #{bsno2}
    ,BSNO3 = #{bsno3}
    ,INCNO1 = #{incno1}
    ,INCNO2 = #{incno2}   
    ,ADDR1 = #{addr1}
    ,ADDR2 = #{addr2}
    ,ADDR3 = #{addr3}
    ,PRSDNAME = #{prsdname}
    ,MOBILE1 = #{mobile1}
    ,MOBILE2 = #{mobile2}
    ,MOBILE3 = #{mobile3}
    ,FAXTEL1 = #{faxtel1}
    ,FAXTEL2 = #{faxtel2}
    ,FAXTEL3 = #{faxtel3}
    ,TELNO1 = #{telno1}
    ,TELNO2 = #{telno2}
    ,TELNO3 = #{telno3}
    ,EMAIL = #{email}
    ,SITESIZE = #{sitesize}
    ,OWNER = #{owner}
    ,COTYPE = #{cotype}
    ,BSCOND = #{bscond}
    ,BSTYPE = #{bstype}
    ,FREGDATE = #{fregdate}
    ,ISDELETE = #{isdelete}   
    ,SITEMEMO = #{sitememo}
    ,EDTDATE = NOW()
    ,EDTUSER = #{edtuser}
    ,SITELOGO = #{sitelogo}
    WHERE SITEID = #{siteid}
    
    </update>
    <insert id="insert" parameterType="companyDto">
    
    INSERT INTO ma900010
    (
     SITENAME 
    ,BSNO1
    ,BSNO2
    ,BSNO3
    ,INCNO1
    ,INCNO2
    ,ADDR1
    ,ADDR2
    ,ADDR3
    ,FREGDATE
    ,PRSDNAME
    ,MOBILE1
    ,MOBILE2
    ,MOBILE3
    ,FAXTEL1
    ,FAXTEL2
    ,FAXTEL3
    ,TELNO1
    ,TELNO2
    ,TELNO3
    ,EMAIL
    ,SITESIZE
    ,OWNER
    ,COTYPE
    ,BSCOND
    ,BSTYPE
    ,ISDELETE
    ,SITEMEMO
    ,REGDATE
    ,REGUSER
    ,EDTDATE
    ,EDTUSER
    ,SITELOGO
    )VALUES(
    #{sitename}
    ,#{bsno1}
    ,#{bsno2}
    ,#{bsno3}
    ,#{incno1}
    ,#{incno2}
    ,#{addr1}
    ,#{addr2}
    ,#{addr3}
    ,IF(#{fregdate}='','1900-01-01',#{fregdate})
    ,#{prsdname}
    ,#{mobile1}
    ,#{mobile2}
    ,#{mobile3}
    ,#{faxtel1}
    ,#{faxtel2}
    ,#{faxtel3}
    ,#{telno1}
    ,#{telno2}
    ,#{telno3}
    ,#{email}
    ,#{sitesize}
    ,#{owner}
    ,#{cotype}
    ,#{bscond}
    ,#{bstype}
    ,#{isdelete}
    ,#{sitememo}
    ,NOW()
    ,#{reguser}
    ,NOW()
    ,#{edtuser}
    ,#{sitelogo}
    )
    <selectKey keyProperty="siteid"  resultType="integer" order="AFTER">
    SELECT LAST_INSERT_ID()
    </selectKey>
    </insert>
    
    <update id="delete" parameterType="companyDto">
    
    	UPDATE ma900010
    		SET ISDELETE = 1
    		,EDTDATE = NOW()
    		,EDTUSER = #{edtuser}
    	WHERE SITEID = #{siteid}
    </update>
    
    <insert id="siteLicenseInsert" parameterType="HashMap">
			INSERT INTO ME810010	(SITEID,LICENSENO,BUYCNT,REGDATE,REGUSER,EDTDATE,EDTUSER)
							VALUES(#{siteid},#{licenseno},#{buycnt},NOW(),#{reguser},NOW(),#{edtuser})
			ON DUPLICATE KEY UPDATE BUYCNT = #{buycnt},EDTDATE = NOW(),EDTUSER = #{edtuser}
    </insert>
	
	<insert id="adminUserInsert" parameterType="companyDto">
		INSERT INTO me800010 
		(SITEID, USERID, USERNAME, USERPASSWORD, EMAIL, CHKAUTH, ENTERDATE, REGDATE, REGUSER, EDTDATE, EDTUSER, MASTERYN ) 
		VALUES 
		(#{siteid}, #{adminid}, #{sitename}, #{adminpassword}, #{email}, 20, NOW(), NOW(), #{owner}, NOW(), #{owner}, 1);
	</insert>
	
	<insert id="adminPwdResetsend" parameterType="HashMap">
		INSERT INTO sys980010 
		 (SITEID, CSTNAME, USERNAME, FROMEMAIL, TOEMAIL, SUBJECT, CONTENT, RLTDATE, REGDATE, REGUSER, EDTDATE, EDTUSER, USERNO) 
		 VALUES 
		 (#{siteid}, #{cstname}, #{username}, #{fromemail}, #{toemail}, #{subject}, #{content}, NOW(), NOW(), #{managerno}, NOW(), #{managerno}, #{userno});
	</insert>
	
	<update id="adminPwdReset" parameterType="userDto">
		UPDATE me800010 SET USERPASSWORD = #{userpassword} WHERE SITEID = #{siteid} AND MASTERYN=1 AND USERNO = #{userno}
	</update>
	
	<select id="licenseCnt" parameterType="HashMap" resultType="hashMap">
		SELECT IFNULL(BUYCNT,0) AS BUYCNT, count(BUYCNT) AS CNT FROM ME810010 WHERE SITEID = #{siteid} AND LICENSENO = #{licenseno} 
	</select>
</mapper>