<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">

	<!--고객 리스트 페이지- 페이징용 카운터 -->
	<select id="totalcnt" parameterType="hashMap" resultType="int">
		SELECT
		COUNT(*) 
		FROM cu100010  
		WHERE
			SITEID = #{siteid}
			AND ISDELETE = 0 
			<if test="custname != null">
			AND CUSTNAME like '%'+#{custname}+'%'
			</if>
			<if test="mobile != null">
			AND MOBILE1+MOBILE2+MOBILE3 like '%'+#{mobile}+'%'
			</if>
			<if test="email != null">
			AND EMAIL like '%'+#{email}+'%'
			</if>
			<if test="custgubun != null and custgubun != 0">
			AND CUSTGUBUN = #{custgubun}
			</if>
			<if test="custgrade != null and custgrade != 0 ">
			AND CUSTGRADE = #{custgrade}
			</if>
			<if test="fromregdt != null">
			AND REGDATE <![CDATA[>=]]> #{fromregdt}
			</if>
			<if test="toregdt != null">
			AND REGDATE <![CDATA[<=]]> #{toregdt}
			</if>	
			<if test="infoagree == 0 or infoagree == 1">
			AND INFOAGREE = #{infoagree}
			</if>
			<if test="owner != null and owner != 0 ">
			AND OWNER = #{owner}
			</if>
			<if test="clino != null and clino != 0 ">
			AND CLINO = #{clino}
			</if>
	</select>
	
	<!-- 고객 리스트 출력 -->
	<select id="custList" parameterType="hashMap" resultType="hashMap">
		SELECT
		 *
		FROM (
			SELECT 
			@RNUM:=@RNUM + 1 AS ROWNUM
			, CU.CUSTNO, CU.CUSTNAME, CU.DEPTNAME, CU.DUTY
			, CONCAT(CU.MOBILE1,'-',CU.MOBILE2,'-',CU.MOBILE3) AS MOBILE
			, CU.EMAIL, CU.SEX
			, CU.OWNER, B.USERNAME AS OWNER_
			, CU.CUSTGUBUN, CU.CUSTGRADE, CU.INFOAGREE
			, DATE_FORMAT(CU.REGDATE,'%Y-%m-%d') AS REGDATE
			, CU.CLINO, C.CLINAME 
			FROM cu100010 CU  
			LEFT OUTER JOIN me800010 AS B ON CU.OWNER = B.USERNO 
			LEFT OUTER JOIN sa200010 AS C ON CU.CLINO = C.CLINO
			,(SELECT @RNUM := 0) R	
			WHERE
				CU.SITEID = #{siteid}
				AND CU.ISDELETE = 0 
				<if test="custname != null">
				AND CU.CUSTNAME like CONCAT('%',#{custname},'%')
				</if>
				<if test="mobile != null">
				AND CONCAT(CU.MOBILE1,CU.MOBILE2,CU.MOBILE3) like CONCAT('%',#{mobile},'%')
				</if>
				<if test="email != null">
				AND CU.EMAIL like CONCAT('%',#{email},'%')
				</if>
				<if test="custgubun != null and custgubun != 0">
				AND CUSTGUBUN = #{custgubun}
				</if>
				<if test="custgrade != null and custgrade != 0 ">
				AND CUSTGRADE = #{custgrade}
				</if>
				<if test="fromregdt != null">
				AND CU.REGDATE <![CDATA[>=]]> #{fromregdt}
				</if>
				<if test="toregdt != null">
				AND CU.REGDATE <![CDATA[<=]]> #{toregdt}
				</if>
				<if test="infoagree == 0 or infoagree == 1">
				AND CU.INFOAGREE = #{infoagree}
				</if>
				
				<if test="owner != null and owner != 0 ">
					AND CU.OWNER = #{owner}
				</if>	
				<if test="clino != null and clino != 0 ">
				AND CU.CLINO = #{clino}
				</if>
			ORDER BY CU.CUSTNAME	
			) T
		<if test="endRowNum != null">
		WHERE ROWNUM between #{startRowNum} and #{endRowNum}
		</if>	
	</select>
	
	<!-- 고객 삭제 -->
	<update id="custDelete" parameterType="saas.crud.crm.cu.dto.CustDto" >
		UPDATE cu100010 SET ISDELETE = 1 , EDITDATE = NOW() , EDITUSER = #{userno}
		WHERE SITEID = #{siteid} AND CUSTNO = #{custno}
	</update>

	
	<!-- 고객 상세정보 출력 -->
	<select id="custDetail" parameterType="hashMap" resultType="hashMap">
		SELECT
		A.CUSTNO
		,A.CUSTNAME, A.DEPTNAME
		,A.DUTY
		,CONCAT(A.MOBILE1,'-',A.MOBILE2,'-',A.MOBILE3) AS MOBILE
		,A.MOBILE1,A.MOBILE2,A.MOBILE3
		,A.EMAIL
		,CONCAT(A.WRKTEL1,'-',A.WRKTEL2,'-',A.WRKTEL3) AS WRKTEL
		,A.WRKTEL1,A.WRKTEL2,A.WRKTEL3
		,CONCAT(A.WRKFAX1,'-',A.WRKFAX2,'-',A.WRKFAX3) AS WRKFAX
		,A.WRKFAX1,A.WRKFAX2,A.WRKFAX3
		,A.WRKURL
		,A.WRKADDR1, A.WRKADDR2, A.WRKADDR3
		,A.OWNER, B.USERNAME AS OWNERNAME
		,CONCAT(A.HOMTEL1,'-',A.HOMTEL2,'-',A.HOMTEL3) AS HOMTEL
		,A.HOMTEL1,A.HOMTEL2,A.HOMTEL3
		,A.SEX
		,A.BIRTH
		,A.MARRIED
		,A.MAILTO
		,A.SOLAR
		,A.WEDDINGDAY
		,A.CUSTGRADE
		,A.JOB
		,A.HOBBY
		,A.CUSTGUBUN
		,A.ACTGRADE
		,A.HOMADDR1, A.HOMADDR2, A.HOMADDR3
		,CONCAT(A.HOMADDR1 , A.HOMADDR2 , A.HOMADDR3) AS HOMADDR
		,A.HOMADDR1, A.HOMADDR2, A.HOMADDR3
		,A.MEMO
		,A.INFOAGREE
		,C.DENYMAILAD,C.DENYMAILNEWS ,C.DENYMAILSEMINAR, C.DENYMAILNOMAL, C.DENYMAILSURVEY 
		,C.DENYSMSNOMAL,C.DENYSMSSEMINAR,C.DENYSMSAD, C.DENYSMSSURVEY    
		,C.DENYDMNEWS ,C.DENYDMSEMINAR,C.DENYDMAD, C.DENYDMNOMAL, C.DENYDMSURVEY  
		,C.DENYTELNEWS ,C.DENYTELSEMINAR  
		,C.DENYFAX ,C.DENYVISIT  
		,A.CLINO,D.CLINAME
		,A.RELCUSTNO

		, (SELECT SELF.CUSTNAME FROM CU100010 SELF WHERE SELF.CUSTNO = A.RELCUSTNO) AS RELCUSTNAME
		, (SELECT COUNT(*) FROM CU120010 B WHERE B.CUSTNO = A.CUSTNO AND B.ISDELETE = 0) AS BLACKCNT		
		
		FROM cu100010 A		
		LEFT OUTER JOIN me800010 B ON A.OWNER = B.USERNO
		LEFT OUTER JOIN CU100080 C on A.CUSTNO = C.CUSTNO
		LEFT OUTER JOIN sa200010 D ON A.CLINO = D.CLINO
		   
		WHERE 
		A.SITEID = #{siteid}
		AND A.ISDELETE = 0
		AND A.CUSTNO = #{custno}
	</select>
	
	
	<!-- 고객 수정 페이지에 바인딩 할 정보 출력 -->
	<select id="custDetailForm" parameterType="int" resultType="hashMap">
		SELECT
		A.CUSTNO
		,A.CUSTNAME
		,A.DEPTNAME
		,A.DUTY
		,A.MOBILE1, A.MOBILE2, A.MOBILE3
		,A.EMAIL
		,A.WRKTEL1, A.WRKTEL2, A.WRKTEL3
		,A.WRKFAX1, A.WRKFAX2, A.WRKFAX3
		,A.WRKURL
		,A.WRKADDR1, A.WRKADDR2, A.WRKADDR3
		,A.OWNER, B.USERNAME AS OWNER_
		,A.HOMTEL1, A.HOMTEL2, A.HOMTEL3
		,A.SEX
		,A.BIRTH
		,A.MARRIED
		,A.MAILTO
		,A.SOLAR
		,A.WEDDINGDAY
		,A.CUSTGRADE
		,A.JOB
		,A.HOBBY
		,A.CUSTGUBUN
		,A.ACTGRADE
		,A.HOMADDR1, A.HOMADDR2, A.HOMADDR3
		,A.MEMO
		,A.INFOAGREE
		,A.CLINO, D.CLINAME
		,C.DENYNO
		,C.DENYMAILAD,C.DENYMAILNEWS ,C.DENYMAILSEMINAR, C.DENYMAILNOMAL, C.DENYMAILSURVEY 
		,C.DENYSMSNOMAL,C.DENYSMSSEMINAR,C.DENYSMSAD, C.DENYSMSSURVEY    
		,C.DENYDMNEWS ,C.DENYDMSEMINAR,C.DENYDMAD, C.DENYDMNOMAL, C.DENYDMSURVEY  
		,C.DENYTELNEWS ,C.DENYTELSEMINAR  
		,C.DENYFAX ,C.DENYVISIT  
		FROM cu100010 A		
		LEFT OUTER JOIN me800010 B ON A.OWNER = B.USERNO
		LEFT OUTER JOIN CU100080 C on A.CUSTNO = C.CUSTNO
		LEFT OUTER JOIN sa200010 D ON A.CLINO = D.CLINO 
		WHERE 
		A.CUSTNO = #{custno}
	</select>
	
	<!-- 고객 추가  -->
	<insert id="custformInsert" parameterType="saas.crud.crm.cu.dto.CustDto">
		
		INSERT INTO cu100010
		(		
		CUSTNAME
		,OWNER
		,REGDATE
		,REGUSER
		,EDITDATE
		,EDITUSER
		,SITEID
		,ISDELETE
		,DEPTNAME
		,DUTY
		,MOBILE1,MOBILE2,MOBILE3
		,EMAIL
		,WRKTEL1,WRKTEL2,WRKTEL3
		,WRKFAX1,WRKFAX2,WRKFAX3
		,WRKURL
		,WRKADDR1,WRKADDR2,WRKADDR3
		,HOMTEL1,HOMTEL2,HOMTEL3
		,SEX
		,BIRTH
		,MARRIED
		,MAILTO
		,SOLAR
		,WEDDINGDAY
		,CUSTGRADE
		,JOB
		,HOBBY
		,CUSTGUBUN
		,ACTGRADE
		,HOMADDR1,HOMADDR2,HOMADDR3
		,MEMO
		,INFOAGREE
		,CLINO
		,RELCUSTNO
		)
		VALUES
		(	
		#{custname}
		,#{owner}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edituser}
		,#{siteid}
		,0
		,#{deptname}
		,#{duty}
		,#{mobile1},#{mobile2},#{mobile3}
		,#{email}
		,#{wrktel1},#{wrktel2},#{wrktel3}
		,#{wrkfax1},#{wrkfax2},#{wrkfax3}
		,#{wrkurl}
		,#{wrkaddr1},#{wrkaddr2},#{wrkaddr3}
		,#{homtel1},#{homtel2},#{homtel3}
		,#{sex}
		,#{birth}
		,#{married}
		,#{mailto}
		,#{solar}
		,#{weddingday}
		,#{custgrade}
		,#{job}
		,#{hobby}
		,#{custgubun}
		,#{actgrade}
		,#{homaddr1},#{homaddr2},#{homaddr3}
		,#{memo}
		,#{infoagree}	
		,#{clino}
		,#{relcustno}
		)
		<selectKey keyProperty="custno"  resultType="integer" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 고객, 수신거부 정보 추가 -->
	<insert id="custformInsertDeny" parameterType="saas.crud.crm.cu.dto.CustDenyDto">
		INSERT INTO cu100080
		(
		CUSTNO
		,REGDATE
		,REGUSER
		,EDITDATE
		,EDITUSER
		,ISDELETE
		
		,DENYMAILAD
		,DENYMAILNEWS 
		,DENYMAILSEMINAR 
		,DENYMAILNOMAL
		,DENYMAILSURVEY
		,DENYSMSNOMAL 
		,DENYSMSSEMINAR  
		,DENYSMSAD
		,DENYSMSSURVEY 
		,DENYDMNEWS 
		,DENYDMSEMINAR 
		,DENYDMAD
		,DENYDMNOMAL
		,DENYDMSURVEY  
		,DENYTELNEWS  
		,DENYTELSEMINAR  
		,DENYFAX  
		,DENYVISIT 
		
		)
		VALUES
		(
		#{custno}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edituser}
		,0	
		
		,#{denymailad}
		,#{denymailnews} 
		,#{denymailseminar} 
		,#{denymailnomal}
		,#{denymailsurvey}
		,#{denysmsnomal} 
		,#{denysmsseminar}  
		,#{denysmsad}
		,#{denysmssurvey} 
		,#{denydmnews} 
		,#{denydmseminar} 
		,#{denydmad}
		,#{denydmnomal}
		,#{denydmsurvey}  
		,#{denytelnews}  
		,#{denytelseminar}  
		,#{denyfax}
		,#{denyvisit} 
		)
	</insert>
	
	<!-- 거래처관련고객 추가 -->
	<insert id="cliCustInsert" parameterType="saas.crud.crm.cu.dto.CustDto">
	INSERT INTO sa280010  (SITEID, CUSTNO, CLINO, REGDATE,EDTDATE, REGUSER,EDTUSER,ISDELETE  )
							VALUES (#{siteid}, #{custno}, #{clino}, now(), now(), #{reguser}, #{reguser}, 0 )
	</insert>
	
	<select id="getCliCustNo" parameterType="hashMap" resultType="int">
	SELECT 
	CLICUSTNO
	FROM sa280010
	WHERE 
		CUSTNO = #{custno} 
		AND CLINO = #{clino}
	</select>
	
	<!-- 거래처관련고객 추가,수정 -->
	<insert id="mergeCliCust" parameterType="saas.crud.crm.cu.dto.CustDto">
	INSERT INTO sa280010  (SITEID, CUSTNO, CLINO, REGDATE,EDTDATE, REGUSER,EDTUSER,ISDELETE  )
							VALUES (#{siteid}, #{custno}, #{clino}, now(), now(), #{reguser}, #{reguser}, 0 )
         ON DUPLICATE KEY UPDATE CLINO = #{clino}, SITEID = #{siteid}, CUSTNO = #{custno}, EDTUSER = #{edituser}, EDTDATE = now()		

	</insert>
	
	<!-- 고객 정보 수정 -->
	<update id="custformUpdate" parameterType="saas.crud.crm.cu.dto.CustDto" >
		UPDATE cu100010
		SET
		EDITDATE = now()
		,EDITUSER = #{edituser}
		<if test="custname != null">
		,CUSTNAME = #{custname}
		</if>
		,OWNER = #{owner}
		,DEPTNAME = #{deptname}
		,DUTY = #{duty}
		,MOBILE1 = #{mobile1}
		,MOBILE2 = #{mobile2}
		,MOBILE3 = #{mobile3}
		,EMAIL = #{email}
		,WRKTEL1 = #{wrktel1}
		,WRKTEL2 = #{wrktel2}
		,WRKTEL3 = #{wrktel3}
		,WRKFAX1 = #{wrkfax1}
		,WRKFAX2 = #{wrkfax2}
		,WRKFAX3 = #{wrkfax3}
		,WRKURL = #{wrkurl}
		,WRKADDR1 = #{wrkaddr1}
		,WRKADDR2 = #{wrkaddr2}
		,WRKADDR3 = #{wrkaddr3}
		,HOMTEL1 = #{homtel1}
		,HOMTEL2 = #{homtel2}
		,HOMTEL3 = #{homtel3}
		,SEX = #{sex}
		,BIRTH = #{birth }
		,MARRIED = #{married}
		,MAILTO = #{mailto}
		,SOLAR = #{solar}
		,WEDDINGDAY = #{weddingday}
		,CUSTGRADE = #{custgrade}
		,JOB = #{job}
		,HOBBY = #{hobby}
		,CUSTGUBUN = #{custgubun}
		,ACTGRADE = #{actgrade}
		,HOMADDR1 = #{homaddr1}
		,HOMADDR2 = #{homaddr2}
		,HOMADDR3 = #{homaddr3}
		,MEMO = #{memo}
		<if test="infoagree == 0 or infoagree == 1 ">
		,INFOAGREE = #{infoagree}
		</if>
		,CLINO = #{clino}
		<if test="relcustno != null and relcustno =! 0">
		,RELCUSTNO = #{relcustno}
		</if>
		WHERE
			CUSTNO = #{custno}
			AND SITEID = #{siteid}
	</update>
	
	<!-- 고객 수신거부 정보 수정 -->
	<update id="custformUpdateDeny" parameterType="saas.crud.crm.cu.dto.CustDenyDto">
		UPDATE cu100080
		SET
		EDITDATE = now()
		,EDITUSER = #{edituser}
		
		,DENYMAILNOMAL = #{denymailnomal}
		,DENYMAILSURVEY = #{denymailsurvey}	
		,DENYMAILAD = #{denymailad}
		,DENYMAILNEWS = #{denymailnews}	
		,DENYMAILSEMINAR = #{denymailseminar} 	
		,DENYSMSNOMAL = #{denysmsnomal}
		,DENYSMSSURVEY = #{denysmssurvey} 
		,DENYSMSSEMINAR = #{denysmsseminar}		
		,DENYSMSAD = #{denysmsad}
		,DENYDMNOMAL = #{denydmnomal}
		,DENYDMSURVEY = #{denydmsurvey} 		
		,DENYDMNEWS = #{denydmnews}	
		,DENYDMSEMINAR = #{denydmseminar}	
		,DENYDMAD = #{denydmad}
		,DENYTELNEWS = #{denytelnews}
		,DENYTELSEMINAR = #{denytelseminar}
		,DENYFAX = #{denyfax}
		,DENYVISIT = #{denyvisit}
				
		WHERE
		DENYNO = #{denyno}		
	</update>
	
	<!-- VOC 고객 정보 수정 -->
	<update id="vocCustUpdate" parameterType="hashMap" >
	UPDATE CU100010
	SET 
	EDITUSER = #{userno}
	,EDITDATE = NOW()
	,CUSTNAME = #{custname}
	,CUSTGUBUN = #{custgubun}
	,MOBILE1 = #{mobile1}
	,MOBILE2 = #{mobile2}
	,MOBILE3 = #{mobile3}
	,HOMTEL1 = #{homtel1}
	,HOMTEL2 = #{homtel2}
	,HOMTEL3 = #{homtel3}
	,RELCUSTNO = #{relcustno}
	,EMAIL = #{email}
	,CUSTGRADE = #{custgrade}
	,HOMADDR1 = #{homaddr1}
	,HOMADDR2 = #{homaddr2}
	,HOMADDR3 = #{homaddr3}
	
	WHERE
		CUSTNO = #{custno}
		AND SITEID = #{siteid}
	</update>
	<!-- VOC 고객 수신거부 정보 수정 -->
	<update id="vocCustDenyUpdate" parameterType="hashMap" >
	UPDATE CU100080
	SET 
	EDITUSER = #{userno}
	,EDITDATE = NOW()
	
	,DENYMAILNOMAL = #{denymailnomal} 
	,DENYMAILSURVEY = #{denymailsurvey}
	,DENYSMSNOMAL = #{denysmsnomal}
	,DENYSMSSURVEY = #{denysmssurvey}
	,DENYDMNOMAL = #{denydmnomal}
	,DENYDMSURVEY = #{denydmsurvey}
	
	WHERE
		CUSTNO = #{custno}
	</update>
	
	
	
	<!-- 고객상세-탭 캠페인 리스트 카운터 -->
	<select id="custTabCampListCnt" parameterType="hashMap" resultType="int">
	SELECT
  		COUNT(*)	
		FROM cp400021 A
		INNER JOIN cp400010 B ON A.CAMPNO = B.CAMPNO   
	
		WHERE 
			B.ISDELETE = 0  
			AND B.SITEID = #{siteid} 
			AND A.CUSTNO = #{custno}
			<if test="campname != null">
			AND B.CAMPNAME LIKE CONCAT('%',#{campname},'%')
			</if>
	</select>
	
	<!-- 고객상세-탭 캠페인 리스트 -->
	<select id="custTabCampList" parameterType="hashMap" resultType="hashMap">
	
	SELECT
	*
	FROM
		(
		SELECT
  		@RNUM:=@RNUM + 1 AS ROWNUM
		,B.CAMPNO, B.CAMPNAME
		,B.CAMPTYPE, B.CAMPSTEP
		,DATE_FORMAT(B.STARTDATE,'%Y%m%d %T') AS STARTDATE
		,DATE_FORMAT(B.ENDDATE,'%Y%m%d %T') AS ENDDATE
		,B.OWNER
		,C.USERNAME 
	
		FROM cp400021 A  
		INNER JOIN cp400010 B ON A.CAMPNO = B.CAMPNO  
		LEFT OUTER JOIN me800010 C ON B.OWNER = C.USERNO 
		,(SELECT @RNUM := 0) R
		WHERE 
			B.ISDELETE = 0  
			AND B.SITEID = #{siteid} 
			AND A.CUSTNO = #{custno}
			<if test="campname != null">
			AND B.CAMPNAME LIKE CONCAT('%',#{campname},'%')
			</if>
			
		ORDER BY B.CAMPNO DESC
		) T
		<if test="endRowNum != null">
		WHERE ROWNUM between #{startRowNum} and #{endRowNum}
		</if>	
	</select>
</mapper>