<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email">

    <insert id="pwdChangeMail" parameterType="hashMap" statementType="CALLABLE">
       {call userPwdChangeMAil(#{siteid, mode=IN, jdbcType=INTEGER, javaType=int},#{touserno, mode=IN, jdbcType=INTEGER, javaType=int},#{fromuserno, mode=IN, jdbcType=INTEGER, javaType=int},#{pwd, mode=IN, jdbcType=VARCHAR, javaType=string})}
    </insert>

    <insert id="mailsend" parameterType="emailDto" statementType="CALLABLE">
        {call CustmailSend(#{toemail, mode=IN, jdbcType=VARCHAR, javaType=string},#{fromemail, mode=IN, jdbcType=VARCHAR, javaType=string},#{subject, mode=IN, jdbcType=VARCHAR, javaType=string},#{content, mode=IN, jdbcType=VARCHAR, javaType=string},#{formatnum, mode=IN, jdbcType=INTEGER, javaType=int},#{siteid, mode=IN, jdbcType=INTEGER, javaType=int},#{userno, mode=IN, jdbcType=INTEGER, javaType=int},#{custno, mode=IN, jdbcType=VARCHAR, javaType=string},#{filesearchkey, mode=IN, jdbcType=VARCHAR, javaType=string})}
    </insert>

    <select id="allTarget" parameterType="hashMap" resultType="hashmap">
        SELECT  EMAILLOGID,
        FROMEMAIL,
         TOEMAIL,
         SUBJECT,
         CONTENT,
         FILESEARCHKEY,
         RLTDATE
    FROM sys980010
    WHERE RLTCODE = 0 AND now() >= RLTDATE LIMIT 100;
    </select>

    <update id="sendstate" parameterType="emailDto">
        UPDATE sys980010 SET RLTCODE = #{rltcode}, EDTDATE = NOW() WHERE EMAILLOGID = #{emaillogid}
    </update>

    <select id="files" parameterType="String" resultType="hashMap">
        SELECT FILESEARCHKEY, SAVEFILENAME, PATH, ORGFILENAME, FILEID FROM sys990030 WHERE FILESEARCHKEY = #{filesearchkey}
    </select>

    <insert id="shareViewMail" parameterType="emailDto" statementType="CALLABLE">
        {call shareViewInsideMail(#{toemail, mode=IN, jdbcType=VARCHAR, javaType=string},#{fromemail, mode=IN, jdbcType=VARCHAR, javaType=string},#{subject, mode=IN, jdbcType=VARCHAR, javaType=string},#{content, mode=IN, jdbcType=VARCHAR, javaType=string},#{siteid, mode=IN, jdbcType=INTEGER, javaType=int},#{filesearchkey, mode=IN, jdbcType=VARCHAR, javaType=string},#{linkurl, mode=IN, jdbcType=VARCHAR, javaType=string},#{userno, mode=IN, jdbcType=INTEGER, javaType=int},#{cstname, mode=IN, jdbcType=VARCHAR, javaType=string},#{username, mode=IN, jdbcType=VARCHAR, javaType=string}) }
    </insert>
<!--
    <select id="pwdChangeMail" parameterType="hashMap" resultType="hashmap" statementType="CALLABLE">
       {call userPwdChangeMAil(#{siteid, mode=IN, jdbcType=INTEGER, javaType=int},#{touserno, mode=IN, jdbcType=INTEGER, javaType=int},#{fromuserno, mode=IN, jdbcType=INTEGER, javaType=int},#{pwd, mode=IN, jdbcType=VARCHAR, javaType=string})}
    </select>
-->
</mapper>