<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="send">

	<insert id="directSmsSend" parameterType="hashMap">
		INSERT INTO SC_TRAN (TR_SENDDATE, TR_SENDSTAT, TR_MSGTYPE, TR_PHONE, TR_CALLBACK, TR_MSG)
		VALUES(current_timestamp(),'0','0',#{mobile},#{callback},#{senddesc})
	</insert>

	<insert id="directLmsSend" parameterType="hashMap">
		INSERT INTO MMS_MSG (SUBJECT, PHONE, CALLBACK, STATUS, REQDATE, MSG, TYPE)
		VALUES('[MMS발송]',#{mobile},#{callback},'0',current_timestamp(), #{senddesc},0)
	</insert>

	<select id="totalSms" parameterType="map" resultType="int">
		SELECT COUNT(*) as SMSCNT FROM sc_tran <!--where siteid = #{siteid} AND 기간-->
	</select>
	<select id="totalMms" parameterType="map" resultType="int">
		SELECT COUNT(*) as MMSCNT FROM mms_msg WHERE IFNULL(FILE_CNT,0) > 0 <!--where siteid = #{siteid} AND 기간-->
	</select>
	<select id="totalLms" parameterType="map" resultType="int">
		SELECT COUNT(*) as LMSCNT FROM mms_msg WHERE IFNULL(FILE_CNT,0) = 0 <!--where siteid = #{siteid} AND 기간-->
	</select>
	<select id="totalKakao" parameterType="map" resultType="int">
		SELECT COUNT(*) as KAKOCNT FROM TSMS_AGENT_MESSAGE_LOG
		WHERE SITEID = #{siteid}
		AND SEND_RESULT_CODE1 = 'OK'
		AND SEND_DATE <![CDATA[>=]]> #{todayfr}
		AND SEND_DATE <![CDATA[<=]]> #{todayto}
	</select>
	<select id="totalEmail" parameterType="map" resultType="int">
		SELECT COUNT(*) as EMAILCNT FROM SYS980010
		WHERE SITEID = #{siteid}
		AND RLTDATE <![CDATA[>=]]> #{todayfr}
		AND RLTDATE <![CDATA[<=]]> #{todayto}
	</select>

	<select id="chargeType" parameterType="String" resultType="chargeDto">
		select * from SYS990099 WHERE SITEID = #{siteid}
	</select>

	<insert id="directSmsSendTemp" parameterType="hashMap">
		INSERT INTO SC_TRAN_COPY (TR_SENDDATE, TR_SENDSTAT, TR_MSGTYPE, TR_PHONE, TR_CALLBACK, TR_MSG, CUSTNO, SITEID)
		VALUES(current_timestamp(),'0','0',#{mobile},#{callback},#{senddesc},#{custno},#{siteid})
	</insert>

	<insert id="directLmsSendTemp" parameterType="hashMap">
		INSERT INTO MMS_MSG_COPY (SUBJECT, PHONE, CALLBACK, STATUS, REQDATE, MSG, TYPE, CUSTNO, SITEID)
		VALUES('[LMS발송]',#{mobile},#{callback},'0',current_timestamp(), #{senddesc},0, #{custno},#{siteid})
	</insert>

	<insert id="directMmsSendTemp" parameterType="hashMap">
		INSERT INTO MMS_MSG_COPY (SUBJECT, PHONE, CALLBACK, STATUS, REQDATE, MSG, TYPE, CUSTNO, SITEID)
		VALUES('[MMS발송]',#{mobile},#{callback},'0',current_timestamp(), #{senddesc},0, #{custno},#{siteid})
	</insert>
	<insert id="directSendKakaoTemp" parameterType="hashMap">
	INSERT INTO TSMS_AGENT_MESSAGE (
	SERVICE_SEQNO
	,SEND_MESSAGE
	,BACKUP_PROCESS_CODE
	,MESSAGE_TYPE
	,CONTENTS_TYPE
	,RECEIVE_MOBILE_NO
	,JOB_TYPE
	,SEND_RESERVE_DATE
	,TEMPLATE_CODE
	,REGISTER_BY
	,REGISTER_DATE
	,SITEID
	,CUSTNO
	)
	VALUES
	(
	#{service_seqno}
	,#{send_message}
	,'003'
	,'002'
	,'004'
	,#{receive_mobile_no}
	,'R00'
	,now()
	,#{template_code}
	,#{userno}
	,now()
	,#{siteid}
	,#{custno}
	)
	</insert>
</mapper>