<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service">

    <select id="list" parameterType="map" resultType="hashMap">
		SELECT SERVICENO,SERVICENAME_,SERVICECHANNEL_,CUSTNAME_
		,CLINAME_,RECEPTIONDATE_,SERVICEOWNER_,OWNER_,SERVICESTEP_,SERVICETYPE_
		,IF(LENGTH(SERVICECODE_) <![CDATA[<]]> 4,REPLACE(SERVICECODE_,'/',''),SERVICECODE_) AS SERVICECODE_
		,RECFILENAME,RECDATE_,RECEXT,REQNO,URL
		FROM (
		SELECT
		A.SERVICENO
		, A.SERVICENAME
		,CASE WHEN CHAR_LENGTH(A.SERVICENAME) <![CDATA[>=]]> 20 THEN CONCAT( SUBSTRING(A.SERVICENAME,1,17) ,'...' )  ELSE IFNULL(A.SERVICENAME,'') END AS SERVICENAME_
		, CONCAT(IF(A.SERVICECODE1=0,'',FN_GETCODE('SERVICECODE1',A.SERVICECODE1,1)),' / ',IF(A.SERVICECODE2=0,'',FN_GETCODEUPPER('SERVICECODE2',A.SERVICECODE2,1,FN_GETCODENO('SERVICECODE1',A.SERVICECODE1,1)))) AS SERVICECODE_
		, FN_GETCODE('SERVICECHANNEL',A.SERVICECHANNEL,1) AS SERVICECHANNEL_
		, (SELECT CUSTNAME FROM cu100010 WHERE CUSTNO = A.CUSTNO) AS CUSTNAME_
		, (SELECT CLINAME FROM sa200010 WHERE CLINO = A.CLINO) AS CLINAME_
		, DATE_FORMAT(A.RECEPTIONDATE,'%Y-%m-%d') AS RECEPTIONDATE_
		, (SELECT USERNAME FROM me800010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
		, IFNULL( (SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) ,'') AS OWNER_
		, FN_GETCODE('SERVICESTEP',A.SERVICESTEP,1) AS SERVICESTEP_
		, FN_GETCODE('SERVICETYPE',A.SERVICETYPE,1) AS SERVICETYPE_
		,B.RECDATE, B.RECEXT, B.RECFILENAME, A.REQNO
		,REPLACE(B.RECDATE,'-','') AS RECDATE_
		,CONCAT('/service/',SERVICENO) AS URL
		FROM sv300010 A
		LEFT OUTER JOIN cti510030 B ON A.REQNO = B.REQNO
		WHERE A.SITEID = #{siteid}
		<if test="servicename != null">
			AND A.SERVICENAME LIKE CONCAT('%',#{servicename},'%')
		</if>

		) X
    </select>

</mapper>