<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

    <select id="idCheck" parameterType="String" resultType="hashMap">
		SELECT A.USERID, A.USERPASSWORD, A.USERNAME, A.USERNO, A.SITEID, B.SITENAME,  A.EMAIL, B.CALLNAME, A.USERLANG, A.CHKAUTH, B.SITELOGO, C.IMGPATH, B.SITENAME
	    FROM crud_saas.me800010 AS A
		LEFT JOIN crud_saas.ma900010 AS B ON A.SITEID = B.SITEID
		LEFT JOIN crud_saas.sys990030 AS C ON C.FILESEARCHKEY = B.sitelogo
		WHERE USERID = #{userid}
    </select>
	
	<select id="crudNotice" resultType="hashMap">
		SELECT ICNUM, SUBJECT, DATE_FORMAT(REGDATE,'%Y-%m-%d') AS REGDATE FROM sys990010 LIMIT 5
	</select>
	
	<select id="urMenu" parameterType="String" resultType="hashMap">
		SELECT A.MENUVAL FROM ma900030 AS A
		INNER JOIN me810011 AS B ON B.MENUNO = A.MENUNO
		INNER JOIN me800010 AS C ON C.USERNO = B.USERNO
		WHERE USERID = #{userid}
	</select>
	
	<insert id="loginHistory" parameterType="hashMap">
		INSERT INTO me800011(
		USERNO
		,USERIP
		,USEROS
		,USERDEVICE
		,USERBROWSER
		,VISITYEAR
		,VISITMONTH
		,VISITDAY
		,VISITHOUR
		,REGDATE
		,SITEID
		)VALUES(
		#{userno}
		,#{userip}
		,#{useros}
		,#{userdevice}
		,#{userbrowser}
		,YEAR(NOW())
		,MONTH(NOW())
		,DAY(NOW())
		,HOUR(NOW())
		,NOW()
		,#{siteid}
		)
	</insert>
	
	<select id="useCheck" parameterType="String" resultType="hashMap">
		SELECT A.USERID, A.USERNO, B.SITENAME, A.USERNAME, CONCAT(A.MOBILE1,'-',A.MOBILE2,'-',A.MOBILE3) AS MOBILE, CONCAT(A.TELNO1,'-',A.TELNO2,'-',A.TELNO3) AS TELNO
     	FROM me800010 AS A
		INNER JOIN ma900010 AS B ON A.SITEID = B.SITEID
		WHERE USERID = #{userid}
	</select>
	
	<select id="useInfo" parameterType="int" resultType="hashMap">
		SELECT * FROM me800010 WHERE USERNO = #{userno}
	</select>
	
	<select id="userAram" parameterType="int" resultType="hashMap">
		SELECT
			 COUNT(CASE WHEN A.IMPORTANT = '1' AND B.READCHEK = '0' THEN 0 END) AS IMPORTANT ,
			 COUNT(CASE WHEN B.READCHEK = '0' THEN 1 END) AS READCHEK
		FROM sys970010 AS A
		LEFT OUTER JOIN sys970011 AS B ON A.NOTICEID = B.NOTICEID
		WHERE B.USERNO = #{userno} AND B.ISDELETE = 0;
	</select>
</mapper>