<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<select id="userList" parameterType="map" resultType="hashMap">
		SELECT A.USERNO,A.USERNAME,A.USERID,A.EMAIL,A.USERDUTY
		,CASE WHEN A.ISDELETE = 0 THEN '사용'
		WHEN A.ISDELETE = 1 THEN '미사용' END AS ISDELETE_
		,CASE WHEN DATE_FORMAT(A.REGDATE,'%Y-%m-%d') = '1900-01-01' THEN ''
		ELSE DATE_FORMAT(A.REGDATE,'%Y-%m-%d') END AS REGDATE
		,A.MOBILE1,A.MOBILE2,A.MOBILE3
		,CASE WHEN DATE_FORMAT(A.ENTERDATE,'%Y-%m-%d') = '1900-01-01' THEN ''
		ELSE DATE_FORMAT(A.ENTERDATE,'%Y-%m-%d') END AS ENTERDATE
		, CONCAT(A.MOBILE1, A.MOBILE2, A.MOBILE3) AS MOBILE
		,(SELECT COUNT(*) FROM CTI510010 WHERE CALLSTATUS = 1 AND CALLUSER = A.USERNO) AS CTICOUNT
		FROM me800010 A
		WHERE A.SITEID = #{siteid}
		AND A.ISDELETE = 0
		AND IFNULL(A.MASTERYN,0) != 1
		<if test="username != null">
			AND A.USERNAME LIKE CONCAT('%',#{username},'%')
		</if>
		<if test="mobile != null">
			AND A.MOBILE LIKE CONCAT('%',#{mobile},'%')
		</if>
		<if test="userid != null">
			AND A.USERID LIKE CONCAT('%',#{userid},'%')
		</if>
		<if test="isdelete != null">
			AND A.ISDELETE = #{isdelete}
		</if>
		<if test="strdate != null">
			AND DATE_FORMAT(REGDATE,'%Y-%m-%d') <![CDATA[>=]]> #{strdate}
		</if>
		<if test="enddate != null">
			AND DATE_FORMAT(REGDATE,'%Y-%m-%d') <![CDATA[<=]]> #{enddate}
		</if>
		<if test="role != null">
			AND ROLE = #{role}
		</if>
		<if test="userNo != null">
			AND USERNO = #{userNo}
		</if>
		ORDER BY A.USERNO DESC
	</select>


	<select id="userInfo" parameterType="int" resultType="hashMap">
		SELECT A.USERID, A.USERPASSWORD, A.USERNAME, A.USERNO, A.SITEID, B.SITENAME,  A.EMAIL, B.CALLNAME, A.USERLANG, A.CHKAUTH, B.SITELOGO, B.SITENAME,B.MSGTELNO
	    FROM crud_saas.me800010 AS A
		LEFT JOIN crud_saas.ma900010 AS B ON A.SITEID = B.SITEID
		WHERE USERNO = #{userno}
	</select>

	<select id="userAram" parameterType="int" resultType="hashMap">
	SELECT COUNT(READCHEK) AS READCHEK FROM sys970011 WHERE USERNO = #{userno} AND ISDELETE = 0 AND READCHEK=0;
	</select>

	<!--유저 비밀번호 업데이트-->
	<update id="pwdChange" parameterType="userDto">
		UPDATE me800010 SET USERPASSWORD = #{userpassword}, EDTUSER = #{edtuser}, EDTDATE = NOW() WHERE SITEID = #{siteid} AND USERNO = #{userno}
	</update>


	<insert id="userInsert" parameterType="userDto">
		<selectKey keyProperty="userno"  resultType="String" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO ME800010
		(
		SITEID,USERID,USERNAME,USERPASSWORD,USERDESC
		,EMAIL,DEPTID,CHKAUTH,ENTERDATE,USERLANG
		,MOBILE1,MOBILE2,MOBILE3,TELNO1,TELNO2,TELNO3
		,USERDUTY,CTIID,CTIPASS,CTITELNO,PWDCHANGEDATE
		,ISDELETE,REGDATE,REGUSER,EDTDATE,EDTUSER
		,CHKROLE,MASTERYN
		)VALUES(
		#{siteid},#{userid},#{username},#{userpassword},#{userdesc}
		,#{email},#{deptid},#{chkauth},now(),'ko'
		,#{mobile1},#{mobile2},#{mobile3},#{telno1},#{telno2},#{telno3}
		,#{userduty},#{ctiid},#{ctipass},#{ctitelno},now()
		,0,now(),#{reguser},now(),#{edtuser}
		,#{chkrole},0)
	</insert>
</mapper>